
  
  /* body {
    position: relative; } */
    /* body:before {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; } */
    /* body.show-sidebar {
      overflow: hidden; } */
      /* body.show-sidebar:before {
        opacity: 1;
        visibility: visible; } */
  
  /* .site-section {
    padding: 7rem 0; } */
  
    aside {
        height: 100vh;
        min-height: 580px; }
      
      aside {
        /* 定義sidebar(先把他收起來，等被出發再移動出來) */
        width: 255px;
        /* left: 0; */
        /* 讓它出現在最上層 */
        z-index: 1001;
        /* 讓他就算畫面捲動也固定在相同位置 */
        position: fixed;
        /* translateX: 橫向移動，正值向右、負值向左 */
          /* 以百分比為單位，橫向移動以元素本身的寬度計算，縱向移動則以的高度計算 */
        /* -webkit-特性：適用 safari, google chrome 等系列。 */
        /* 把sidebar向左移動一個它的寬度(把他藏起來) */
        -webkit-transform: translateX(-100%); 
        /* -ms-特性：適用 IE 等 microsoft 系列。 */
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        color: #fff;
        background-color:  #2a2f42;
        /* 滑動的感覺 */
        -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
        transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
        /* transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1); */
        /* transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);  */
      }
      /* 控制sidebar移動到哪 */
        .show-sidebar aside {
          -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
          transform: translateX(0%); }
        /* aside .toggle {
          padding-right: 30px;
          padding-top: 30px;
          position: absolute;
          left: 0;
          -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
          transform: translateX(-100%); } */
          /* .show-sidebar aside .toggle .burger:before, .show-sidebar aside .toggle .burger span, .show-sidebar aside .toggle .burger:after {
            background: #fff; } */
        /* .show-sidebar aside {
          -webkit-box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -10px 0 30px 0 rgba(0, 0, 0, 0.5); } */
    
          /* 超過會有滾輪 */
        aside .side-inner { 
          height: 100vh;
          /* overflow-y: scroll; */
          /* overflow:scroll; 自動產生捲軸。 */
          /* touch：支援momentum-based scrolling，當使用者結束滑動手勢、手指離開螢幕之後，頁面滾動仍然會持續一下子，依據使用者滑動的速度及力道漸漸停止。 */
          -webkit-overflow-scrolling: touch; }
          /* sidebar的內容離邊邊的距離 */
          aside .side-inner .share { 
            padding-left: 10px;
            padding-right: 10px;
          }
          
            /* aside .side-inner .share ul li a:hover{
                color: #2a2f42;
                background: #fff;
            } */
            /* aside .side-inner .share ul li.active>a,
            a[aria-expanded="true"] {
                color: #fff;
                background: #2a2f42;
            } */
            /* aside .side-inner .share .nav-pills .nav-link.active {
                background-color: #fff;
                color: #2a2f42;
            } */
            /* aside .closebtn {
              padding-left: 220px;
            } */
          
      
      /* main {
        width: calc(100%); }
        main .post-entry {
          margin-bottom: 30px; }
          main .post-entry .custom-thumbnail {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 80px;
            flex: 0 0 80px;
            margin-right: 30px; }
        main .post-content h3 {
          font-size: 18px; }
        main .post-content .post-meta {
          font-size: 15px;
          color: #ccc; } */
      
      /* Toggle */
      /* .menu-toggle span {
        color: #ccc;
        font-size: 2rem; }
      
      .menu-toggle:hover span, .menu-toggle:focus span {
        color: #000; }
      
      .menu-toggle.active span {
        color: #fff; } */
      
        /* ------------------ */
        /* sidebar button */
        #sidebarCollapse {
            background-color: #2a2f42;
            color: white;

        }   
    
        
        
        /* #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #2a2f42;
            color: #fff;
            transition: all 0.3s;
        } */
        
        
        /* #sidebar.active {
            margin-left: -250px;
        } */
        
        /* #sidebar .sidebar-header {
            padding: 20px;
            background: #2a2f42;
        } */
        
        /* sidebar component的padding */
        #sidebar ul.components {
            padding: 20px 0;
            /* border-bottom: 1px solid #47748b; */
        }
        /* 目錄的位置 */
        #sidebar ul p {
            color: #fff;
            /* padding: 10px; */
        }
        #sidebar ul li {
          /* 上下 左右 */
         
          text-decoration: none;
          list-style: none;
          
      }
        /* sidebar中超連結的顏色距離 */
        #sidebar ul li a {
            /* 上下 左右 */
            padding: 10px 15px; 
            font-size: 1.1em;
            display: block;
            color:   #818aa5;
            text-decoration: none;
            list-style: none;
            
        }
        
        /* .nav-pills .nav-link.active {
            background-color: #fff;
            color: #2a2f42;
        } */
        
        /* sidebar移動到上面會反白 */
        #sidebar ul li a:hover {
            color: #2a2f42;
            background: #fff;
        }
        
        /* 字跟icon之間的距離 */
        #sidebar ul li span {
            padding-left: 10px;
        }
    
        /* #sidebar ul li.active>a,
        a[aria-expanded="true"] {
            color: #fff;
            background: #2a2f42;
        } */
        
        /* a[data-toggle="collapse"] {
            position: relative;
        } */
        
        /* .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(50%);
        } */
        
        /* ul ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: #6d7fcc;
        } */
        
        /* ul.CTAs {
            padding: 20px;
        } */
        
        /* ul.CTAs a {
            text-align: center;
            font-size: 0.9em !important;
            display: block;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        
        a.download {
            background: #fff;
            color: #7386D5;
        } */
        
        /* a.article,
        a.article:hover {
            background: #6d7fcc !important;
            color: #fff !important;
        } */
        
    /* ---------------------------------------------------
        ANALYSIS STYLE
    ----------------------------------------------------- */
    
    #analysisnav a {
      color: #818aa5;
      text-decoration: none;
      transition: all 0.3s;
    }
    
    /* #analysisnav a:focus {
      color: #818aa5;
    } */
    
    
    
    