<!DOCTYPE html>
<html>
<head>
  <title>基本資料</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <script src="js/js.cookie.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"/> -->
  <!-- <link href="css/tabulator.min.css" rel="stylesheet"> -->
  <!-- <link href="css/tabulator_bootstrap4.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.10/css/tabulator.min.css" integrity="sha512-qaf1zsTL18+yzIguEzlrIpvALTRTtcOk8pU5Pq+RF4/0kmH8SwVawi7Mkpx9g8yCJFT/y+pTMEzSLpOSVd8aZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.10/css/tabulator_bootstrap4.min.css" integrity="sha512-doMXronpV8re0zyjj1vWaQEdrOVZQ9z732f0LGBye53x7Y/wH3oP9XkkfnKsKDDarHATzT4ZYAmIrBDDj4/Kjw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
  <script src="https://kit.fontawesome.com/3219b1c47f.js" crossorigin="anonymous"></script>
  <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <style> .tabulator{ font-size:10px; }</style>
  <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<body style="background-color: #2a2f42; ">
  <div id="sidebar"></div>
  <main>
    <div class="site-section">
      <div id="content">
        <div class="form-inline d-flex justify-content-between">
          <div class="form-inline d-flex justify-content-around">
            <div class="toggle">
              <button type="button" id="sidebarCollapse" class="btn js-menu-toggle menu-toggle">
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <div style="padding-top: 10px; margin-left: 10px; color: white;">
              <h5>總表</h5>
            </div>
          </div>
        </div>
        <div id="list" class="table table-bordered border-white table-light"></div>
    </div>
    </div>  
  </main>
</body>
<!-- <script src="js/moment.min.js"></script> -->
<!-- <script src="js/axios.min.js"></script> -->
<!-- <script src="js/jquery-3.4.1.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="js/bootstrap.bundle.min.js"></script> -->
<!-- <script src="js/tabulator.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" integrity="sha512-mULnawDVcCnsk9a4aG1QLZZ6rcce/jSzEGqUkeOLy0b6q0+T6syHrxlsAGH7ZVoqC93Pd0lBqd6WguPWih7VHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.10/js/tabulator.min.js" integrity="sha512-yWg7EOqfQSeYrw0j2luKXqZ4XoD6IbFcO4Dhw0ikS04ZcEZlubGMtwGGygP/tku9rsvMOjqxZapcl/eDOwMj5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/sidebarcontrol.min.js"></script>
<script src="js/auth.min.js"></script>
<script src="js/info.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode@1.5.1/build/jwt-decode.min.js"></script>
</html>